@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --background: #232634;
    --text: #c6d0f5;
}

* {
    color: var(--text);
    font-family: "Varela Round", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#title {
    font-size: 48px;
    margin-top: 30px;
}

#subtitle {
    font-size: px;
}

.text {
    font-size: 24px;
    width: 75%;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

#textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.green {
    color: lime;
}

input {
    opacity: 0%;
    cursor: default;
}

#statsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    font-size: 24px;
}

#textLengthContainer, #timeLengthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.length {
    font-size: 20px;
    height: 28px;
    width: 60px;
    background-color: var(--text);
    color: var(--background);
    padding-top: 2px;
    padding-bottom: -2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#settingsContainer {
    width: 75%;
    margin-bottom: 100px;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#textLengths, #timeLengths {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

#textLengthTitle, #timeLengthTitle {
    font-size: 24px;
}

#start {
    width: 150px;
    height: 40px;
    background-color: var(--text);
    color: var(--background);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#start:disabled {
    background-color: #818599;
}

.textLength:disabled, .timeLength:disabled {
    background-color: #818599;
}